In [1]:
import pandas as pd
import numpy as np

## Titanic Data

*QUIZ:* The "Titanic" dataset (located at https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv) contains information about 887 passengers on the Titanic (out of 2224 total). Which column has the most missing values?

LetÂ´s read Titanic Data.

In [2]:
titanic = pd.read_csv("https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv")

In [3]:
titanic.head(10)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1.0,1.0,"Anderson, Mr. Harry",male,48.0000,0.0,0.0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1.0,1.0,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1.0,0.0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1.0,0.0,"Andrews, Mr. Thomas Jr",male,39.0000,0.0,0.0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1.0,1.0,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2.0,0.0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1.0,0.0,"Artagaveytia, Mr. Ramon",male,71.0000,0.0,0.0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"

In [4]:
titanic.shape

(1310, 14)

In [5]:
titanic.isnull().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

**The correct answer is body with 1189 null values.**

## Iris Data

*QUIZ*: The Iris dataset is one of the most populat datasets in data processing. You can find the data and description at https://archive.ics.uci.edu/ml/datasets/iris. How many observations are there? And how many features?

In [6]:
iris_data = pd.read_csv("data/iris.data", header = None)

In [7]:
iris_data.head(10)

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa
5  5.4  3.9  1.7  0.4  Iris-setosa
6  4.6  3.4  1.4  0.3  Iris-setosa
7  5.0  3.4  1.5  0.2  Iris-setosa
8  4.4  2.9  1.4  0.2  Iris-setosa
9  4.9  3.1  1.5  0.1  Iris-setosa

In [8]:
iris_data.shape

(150, 5)

**There are 150 observations and 5 features.**

*QUIZ*: The last column contains the different species of iris plant. How many species are there?

In [9]:
names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
iris_data.columns = names
len(iris_data["class"].unique())

3

**There are 3 different spices.**

*QUIZ:* Take all Iris flowers whose sepal length is between 4.5 and 10 (inclusive). What is the average petal length of these flowers (in cm)? Round your answer to two decimal places. Write your answer with a decimal point, for example "4.5".

In [10]:
sepal_filtered = iris_data[(iris_data["sepal_length"] >= 4.5) & (iris_data["sepal_length"] <= 10)]
sepal_filtered.describe().T
mean_petal_length = sepal_filtered.petal_length.mean()
print(round(mean_petal_length, 2))

3.83

## Wine Quality
*QUIZ* The dataset here: http://archive.ics.uci.edu/ml/datasets/Wine+Quality contains information about different red and white wines. Read the two files into Python. Which kinds of wine seem to be preferred (i.e. have greater average quality)? Write "red" or "white" in the textbox.

In [11]:
red_wine = pd.read_csv("data/winequality-red.csv", sep = ";")
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [12]:
white_wine = pd.read_csv("data/winequality-white.csv", sep = ";")
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [13]:
red_quality = red_wine.quality.mean()
print(f"red wine quality {red_quality}")
white_quality = white_wine.quality.mean()
print(f"white wine quality {white_quality}")

red wine quality 5.6360225140712945
white wine quality 5.87790935075541

*QUIZ* Does higher alcohol content mean better quality? We can't say directly, but we might explore the data. What is the correlation of alcohol content to quality for red wines? Round your answer to two decimal places.

In [14]:
print(f"red wine alcohol-quality correlation {round(red_wine.alcohol.corr(red_wine.quality), 2)}")

red wine alcohol-quality correlation 0.48

*QUIZ* What is the correlation of alcohol content to quality for white wines? Round your answer to two decimal places.

In [15]:
print(f"white wine alcohol-quality correlation {round(white_wine.alcohol.corr(white_wine.quality), 2)}")

white wine alcohol-quality correlation 0.44